// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/


:root {
    --ion-color-primary: #F2EFE7;
    --ion-color-secondary: #dad9d567; // Soft Yellow
    --ion-color-tertiary: #9ACBD0; // Pale Beige
    
    --ion-card-background: #F2EFE7;
    --ion-card-content-color: #F2F1ED;

}