<ion-content>
    <ion-row class="heading-row">
      <ion-col><b>Item</b></ion-col>
      <ion-col class="quantity-col"><b>Quantity</b></ion-col>
    </ion-row>
  
    <ion-grid>
      <ion-row *ngFor="let item of invoiceItems; let i = index">
        <ion-col class="item-info">
          <div><b>{{ item.itemNo }}</b></div>
          <div>{{ item.partNo }}</div>
          <div>${{ item.price.toFixed(2) }}</div>
        </ion-col>
  
        <ion-col>
          <div class="quantity-toggle">
            <ion-button size="small" (click)="removeFromCart(i)" color="tertiary" [disabled]="currentQuantityArr[i] == 0">
              <ion-icon name="remove-circle-outline"></ion-icon>
            </ion-button>
  
            <ion-input type="number" [(ngModel)]="currentQuantityArr[i]" (ionChange)="validateInput(i)" [ngClass]="{
              'valid-input': currentQuantityArr[i] <= itemQuantityArr[i] && currentQuantityArr[i] >= 0,
              'invalid-input': currentQuantityArr[i] > itemQuantityArr[i] || currentQuantityArr[i] < 0
            }" min="0" style="width: 60px; text-align: center;"></ion-input>
  
            <ion-button size="small" (click)="addToCart(i)" color="tertiary" [disabled]="currentQuantityArr[i] >= itemQuantityArr[i]">
              <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  
</ion-content>


<ion-content>
  <!-- Summary Section -->
  <ion-card class="summary-card">
    <ion-card-header>
      <ion-card-title>Cart Summary</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row *ngFor="let item of cartItems; let i = index">
          <ion-col class="item-info">
            <div><b>{{ item.itemNo }}</b></div>
            <div>{{ item.partNo }}</div>
            <div>${{ item.price.toFixed(2) }}</div>
          </ion-col>

          <ion-col>
            <div class="quantity-toggle">
              <ion-button size="small" (click)="removeFromCart(i)" color="tertiary">
                <ion-icon name="remove-circle-outline"></ion-icon>
              </ion-button>

              <ion-label>{{item.selectedQuantity}}</ion-label>

              <ion-button size="small" (click)="addToCart(i)" color="tertiary">
                <ion-icon name="add-circle-outline"></ion-icon>
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item color="transparent">
        <ion-label ><strong>Subtotal</strong></ion-label>
        <ion-note slot="end"><strong>$TTD{{ subTotal | number:'1.2-2' }}</strong></ion-note>
      </ion-item>
    </ion-card-content>

  </ion-card>
</ion-content>

<ion-button (click)="confirmSale()" expand="block" color="primary" class="confirm-button" color="success"> Confirm Sale</ion-button>
<!-- Item List -->